.mainUserRank{
    width: 83%;
    height: 72vh;
    margin: 0 0 0 200px;
    
    border: 1px solid var(--borderLight) ;
    border-radius: 30px;
    background-color: var(--colorBlueC);

    .titleRank {
        margin: 30px auto;
        width: 80%;
    }
    hr {
        margin: 20px auto;
        color: white;
        width: 50%;
    }
    .mainNav{
        margin: -20px auto;
        width: 55%;

        ul{
            justify-content: space-between;
            
            h3 {
                font-size: 2em;
                color: white;
                
            }
            h3:hover {
                color: rgba(189, 160, 101, .5);
            }
            .selectedNav {
                border-bottom: 2px solid rgba(189, 160, 101, .9);
                margin: 0 0 10px 0;
             
            }

        }
       
        
    }
}

::-webkit-scrollbar {
    width: 10px;
    
  }
  ::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 40px;
  
}



.mainRankFriends {
    width: 90%;
    height: 70%;
    margin: 15px auto;
 
    overflow: auto;

    
    .MainUserRankdiv {
        width: 100%;
        height: 60px;
        margin: 20px auto;
   
        


        .blasonRank {
            width: 45px;
            margin: 0 0 0 10px;
        }
        .nbRank {
            font-size: 1.9em;
            margin: 9px 0 0 20px;
        }
        .photoRankUser {
            width: 60px;
            height: 60px;
            margin: 0px 0 0 70px;
        }
        .logginUser {
            font-size: 1.5em;
            margin: 13px 0 0 70px;
        }

    }
    .rankdiv2 {
        margin: 0 0 0 70px;

        .statUser {
            font-size: 1em;
            margin: 5px 0 0 50px;
        }
        .nbStat {
            font-size: 1.2em;
            margin: 0px 0 0 50px;
            color: white;
        }
    }
    .rankdiv3 {
        margin: 10px 0 10px 150px;
        // border-radius: 10px;
        // background-color: red;
        width: 150px;

        h1 {
            font-size: 1.8em;
        }
    }

}
