.mainUserRank {
	width: 80%;
	height: 38vw;
	margin: 90px auto;
	margin-bottom: 100px;
	border-radius: 2.2vw;

	padding: 0 20px 0 0;

	border: 3px solid rgba(255, 255, 255, 0.7);
	background: linear-gradient(5.69deg, #e69c6a -3.67%, rgba(230, 156, 106, 0) 102.8%);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	h1,
	h3 {
		font-family: Montserrat, sans-serif;
		color: white;
	}

	.mainTitleRank {
		margin: 50px 0 0 0;
		width: 100%;
		padding: 0 100px 0 100px;
		justify-content: space-between;

		h1 {
			font-size: 2.2vw;
			font-weight: 500;
		}
	}

	.mainSwitch {
		width: 10vw;
		height: 1.7vw;
		.switch-button {
			background: #fcddec;
			border-radius: 30px;
			overflow: hidden;
			width: 150px;
			width: 250px;
			height: 40px;
			width: 100%;
			height: 100%;

			text-align: center;
			font-size: 18px;
			letter-spacing: 1px;
			color: #155fff;
			position: relative;

			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 3;
				pointer-events: none;
			}

			.divSwitchButton {
				font-size: 15px;
				font-size: 0.9vw;
				font-family: Montserrat, sans-serif;

				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.divSwitchButton2 {
				font-size: 0.9vw;
				font-family: Montserrat, sans-serif;
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.divSwitchOn {
				color: #ca6c88;
			}
			.divSwitchOff {
				color: white;
			}

			&-checkbox {
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 2;

				&:checked + .switch-button-label:before {
					transform: translateX(5vw);
					transition: transform 300ms linear;
				}

				& + .switch-button-label {
					position: relative;

					display: block;
					user-select: none;
					pointer-events: none;

					height: 100%;
					width: 100%;

					&:before {
						// middle boule
						content: '';
						background: #ca6c88;
						position: absolute;

						height: 100%;
						width: 50%;
						position: absolute;
						border: 3px solid #fcddec;

						border-radius: 30px;
						transform: translateX(0);
						transition: transform 300ms;
					}

					.switch-button-label-span {
						position: relative;
					}
				}
			}
		}
	}

	.rankInfo {
		width: 100%;
		margin-top: 2%;
		display: flex;

		height: 6%;
		align-self: flex-end;
		align-items: center;

		h3 {
			color: #e69c6a;
			text-align: center;
			font-size: 1.1vw;
		}
		h3:first-child {
			margin-top: 27px !important;
		}
		h3:last-child {
			margin-bottom: 15px;
		}

		h3 {
			height: 100%;
		}

		.nbRank {
			width: 10%;
			margin-top: 14px !important;
		}
		.nbUser {
			width: 31%;
		}
		.nbGame {
			width: 15%;
		}
		.nbWin {
			width: 15%;
		}
		.nbLoose {
			width: 15%;
		}
	}

	::-webkit-scrollbar {
		width: 1vw;
	}
	::-webkit-scrollbar-track {
		margin-top: 30px;
		margin-bottom: 60px;
		border-radius: 20px;
	}

	.userPrintDIv {
		width: 101%;
		height: 70%;
		margin-top: 2px;

		overflow: auto;

		h1,
		h3 {
			font-weight: normal;
			font-size: 1.3vw;
		}
		.MainUserRankdiv {
			display: flex;

			align-self: flex-start;
			margin: 1.4% 0% 0% 0%;
			width: 100%;

			.nbRank {
				width: 10%;
				display: flex;
				justify-content: center;
				align-items: center;

				h1 {
					font-size: 1.8vw;
				}
			}

			.imgUser {
				.MuiAvatar-root {
					width: 5vw;
					height: 5vw;
					border: none;
					border-radius: 2.3vw;
				}
				.MuiBadge-badge {
					width: 17%;
					height: 16%;
					border-radius: 100%;
					z-index: 3;
					box-shadow: 0 0 0 0.5px;
				}
				.MuiBadge-badge::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					animation: badgeAnim 1.2s infinite ease-in-out;
					border: 1px solid;
					content: '';
				}
			}

			.logginUser,
			.nbStatGame,
			.nbStatWin,
			.nbStatLoose,
			.buttonDIv {
				justify-content: center;
				align-items: center;
			}

			.logginUser {
				display: flex;
				width: 25%;

				h1 {
					text-align: center;
				}
			}
			.nbStatGame {
				width: 15%;
			}
			.nbStatWin {
				width: 15%;
			}
			.nbStatLoose {
				width: 15%;
			}

			.buttonDIv {
				width: 13%;

				.spanTooltip {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 2.1vw !important;
					width: 8vw;
				}

				.muiButton {
					width: 100%;
					height: 100%;
					border: white 2px solid;
					font-weight: 500;
					font-size: 0.9vw;
					border-radius: 0.8vw;
					transition: ease-out 0.185s;
				}
				.muiButton:hover {
					background-color: rgba(230, 156, 106, 0.5);
					font-size: 1vw;
				}
			}
		}
	}
}

@media screen and (max-width: 2100px) {
	.mainUserRank {
		.userPrintDIv {
			height: 67% !important;
		}
	}
}

@media screen and (max-width: 1920px) {
	.mainUserRank {
		border: 2px solid rgba(255, 255, 255, 0.7);

		// ::-webkit-scrollbar {
		// 	width: 10px;
		// }

		.mainSwitch {
			.switch-button {
				.divSwitchButton {
					// font-size: 0.9vw;
				}
				.divSwitchButton2 {
					// font-size: 0.9vw;
				}

				&-checkbox {
					&:checked + .switch-button-label:before {
						transform: translateX(5vw);
						transition: transform 300ms linear;
					}

					& + .switch-button-label {
						&:before {
							// middle boule

							border: 2px solid #fcddec;

							border-radius: 30px;
							transform: translateX(0);
							transition: transform 300ms;
						}

						.switch-button-label-span {
							position: relative;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.mainUserRank {
		border: 1px solid rgba(255, 255, 255, 0.7);

		.userPrintDIv {
			.MainUserRankdiv {
				.muiButton {
					border: white 1px solid !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1270px) {
	.mainUserRank {
		border: 1px solid rgba(255, 255, 255, 0.7);
		height: 500px;
		margin-top: 70px;
		.mainSwitch {
			width: 110px;
			height: 20px;
			margin-left: 130px;
			.switch-button {
				.divSwitchButton {
					font-size: 10px;
				}
				.divSwitchButton2 {
					font-size: 10px;
				}

				&-checkbox {
					&:checked + .switch-button-label:before {
						transform: translateX(55px);
						transition: transform 300ms linear;
					}

					& + .switch-button-label {
						&:before {
							// middle boule

							border: 1px solid #fcddec;

							border-radius: 30px;
							transform: translateX(0);
							transition: transform 300ms;
						}

						.switch-button-label-span {
							position: relative;
						}
					}
				}
			}
		}
		.rankInfo {
			h3:first-child {
				margin-top: 26px !important;
			}

			.nbUser {
				width: 31.8%;
			}
		}
		.userPrintDIv {
			width: 102%;
		}
	}
}

@media screen and (max-width: 1000px) {
	.mainUserRank {
		border-radius: 24px;

		.mainTitleRank {
			margin: 35px 0 0 -30px;

			h1 {
				font-size: 25px;
			}
		}

		.mainSwitch {
			margin-right: -50px !important;
		}

		.rankInfo {
			margin-top: 30px;

			justify-content: center;
			align-self: flex-start;
			width: 86%;
			h3 {
				color: #e69c6a;
				text-align: center;
				font-size: 1.1vw;
				font-size: 11px;
			}

			// .nbRank {
			// 	width: 18%;
			// 	margin-top: 14px !important;
			// 	border: 1px solid red;
			// }
			// .nbUser {
			// 	width: 20%;
			// 	border: 1px solid red;
			// }
			.nbGame {
			}
			.nbWin {
				padding-left: 34px;
			}
			.nbLoose {
				padding-left: 6.5vw;
			}
		}

		.userPrintDIv {
			height: 370px !important;

			width: 102.5%;

			h1,
			h3 {
				font-size: 13px;
			}
			.MainUserRankdiv {
				width: 100%;
				justify-content: center;
				margin-top: 20px !important;

				.nbRank {
					width: 13%;

					h1 {
						font-size: 16px;
					}
				}

				.buttonDIv {
					.spanTooltip {
						height: 22px !important;
						width: 63px;
					}

					.muiButton {
						width: 100%;

						height: 100%;

						font-size: 8px !important;

						border-radius: 8px;
					}
					.muiButton:hover {
						font-size: 9px !important;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 707px) {
	.mainUserRank {
		.mainTitleRank {
			display: flex;
			padding: 0 0 0 0;
			margin: 7% 0% 0% 6%;
			justify-content: flex-start !important;
			align-items: flex-start !important;
			h1 {
			}
		}
		.mainSwitch {
			margin: 1.5% 0% 0% 26%;
		}
		.rankInfo {
			h3:first-child {
			}
			h3:last-child {
				margin-bottom: 14px !important;
			}
		}
		.userPrintDIv {
			width: 103%;
		}
	}
}

@media screen and (max-width: 626px) {
	.mainUserRank {
		width: 425px;
		.rankInfo {
			h3:first-child {
				margin-top: 28px !important;
			}
			h3:last-child {
			}
		}
		.userPrintDIv {
			width: 105% !important;
		}
	}
}
