.mainGameWindow {
	margin: 90px 0 0 20%;
	width: 78%;
	height: 127vh;
	// height: 80%;

	height: 37vw;
	border-radius: 2.2vw;
	border: 3px solid rgba(255, 255, 255, 0.7);

	background: linear-gradient(5.69deg, #e69c6a -3.67%, rgba(230, 156, 106, 0) 102.8%);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	.msgPlay {
		margin: 80px auto;
		width: 28vw;

		h1 {
			font-family: 'Press Start 2P', cursive;
			color: white;
			font-style: normal;
			font-weight: 400;
			font-size: 2.2vw;
			line-height: 70px;
			line-height: 3vw;
			text-align: center;
		}
	}
	.iconePLayGame {
		margin: -40px auto;
		img {
			width: 300px;
			width: 10vw;
		}
	}

	.buttonMui {
		background-color: #ca6c88;
		border: 2px solid rgba(255, 255, 255, 0.7);
		color: white;
		font-family: Montserrat, sans-serif;
		font-size: 1.3vw;
		font-weight: 500;
		transition: ease-out 0.125s;
	}
	.buttonMui:hover {
		font-size: 1.4vw;
		background-color: rgba(124, 90, 100, 0.9);
	}

	.buttonDiv {
		.MuiCircularProgress-root {
			color: #ca6c88;
			margin: 23% 0% 0% 17%;
			width: 1.8vw !important;
			height: 1.8vw !important;
		}
		.MuiCircularProgress-svg {
			width: 1.8vw !important;
			height: 1.8vw !important;
		}
	}

	.playRandom {
		width: 15vw;
		height: 3.3vw;
		margin: 90px auto;

		.buttonMui {
			border-radius: 1.1vw;
		}
	}

	.buttonMuiFriend {
		margin: 30px 0 0 0;
		height: 3.3vw;
	}

	.formDivButton {
		margin-top: 30px;
		// height: 70px;
		height: 3.2vw;
	}

	.formDivButtonAnim {
		height: 60px;
		animation-name: shake-horizontal;
		animation-duration: 0.6s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
	}

	.MuiFormControl-root {
		display: flex;
		flex-direction: column;
	}

	.formDivButton .muiButtonInput {
		width: 100%;
		height: 100%;
		background-color: rgba(202, 108, 136, 0.7);
		border-radius: 15px 0px 0px 15px;
		font-family: Montserrat, sans-serif;
		color: white;
		// font-size: 1.5em;
		// font-size: 2vw;
		border-top: 3px solid rgba(255, 255, 255, 0.8);
		border-bottom: 3px solid rgba(255, 255, 255, 0.8);
		border-left: 3px solid rgba(255, 255, 255, 0.8);
		padding-left: 7px;

		.MuiFormHelperText-root {
			font-family: Montserrat, sans-serif;
			// margin: 3% auto;
			width: 15vw;
			line-height: 1.1vw;
			margin-left: 25%;
			align-self: center;
			text-align: center;
			color: red;
			font-size: 0.9vw;
		}
	}

	.formDivButton .MuiOutlinedInput-input {
		margin: -3px auto;
		font-size: 1.2vw;
		color: white;
	}

	.formDivButton .MuiOutlinedInput-notchedOutline {
		border: none;
	}

	.formDivButton .buttonDiv {
		width: 60px;
		width: 3.4vw;
		border-radius: 0 0.8vw 0.8vw 0px;
		background-color: white;

		img {
			width: 30px;
			width: 1.8vw;
		}
		img:hover {
			width: 2vw;
		}
	}

	.formDivButton:focus-visible {
		outline: none;
		text-decoration: none;
	}
	.formDivButton ::placeholder {
		color: white;
		font-size: 22px;
		font-size: 1.2vw;
		height: 30px;
		position: absolute;
		left: 50%;
		top: 47%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 2100px) {
	.mainGameWindow {
		.formDivButton .MuiOutlinedInput-input {
			margin: -6px auto;
		}
		.formDivButton ::placeholder {
			top: 52%;
		}
	}
}

@media screen and (max-width: 1920px) {
	.mainGameWindow {
		width: 76%;
		height: 40vw;
		border: 2px solid rgba(255, 255, 255, 0.7) !important;

		.formDivButton .muiButtonInput {
			border-top: 2px solid rgba(255, 255, 255, 0.8);
			border-bottom: 2px solid rgba(255, 255, 255, 0.8);
			border-left: 2px solid rgba(255, 255, 255, 0.8);
		}
	}
}

@media screen and (max-width: 1700px) {
	.mainGameWindow {
		.formDivButton .MuiOutlinedInput-input {
			margin: -6px auto;
		}
		.formDivButton ::placeholder {
			top: 56%;
		}

		// .MuiFormHelperText-root {
		// 	line-height: 20px;
		// 	margin-right: 34px !important;
		// }
	}
}

@media screen and (max-width: 1600px) {
	.mainGameWindow {
		height: 42vw;
	}
}

@media screen and (max-width: 1440px) {
	.mainGameWindow {
		border: 1px solid rgba(255, 255, 255, 0.7) !important;
		.msgPlay {
			margin: 50px auto;
		}
		.iconePLayGame {
			margin: -20px auto;
		}
		.playRandom {
			margin: 70px auto;
		}

		.buttonMui {
			border: 1px solid rgba(255, 255, 255, 0.7);
		}

		.formDivButton .muiButtonInput {
			border-top: 1px solid rgba(255, 255, 255, 0.8);
			border-bottom: 1px solid rgba(255, 255, 255, 0.8);
			border-left: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 12px 0px 0px 12px;
		}

		.buttonDiv {
			.MuiCircularProgress-root {
				color: #ca6c88;
				margin: 26% 0% 0% 17%;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.mainGameWindow {
		width: 75%;

		.formDivButton .MuiOutlinedInput-input {
			margin: -8px auto !important;
		}

		.formDivButton ::placeholder {
			margin-top: 3px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.mainGameWindow {
		margin-top: 60px;
		height: 500px;

		.formDivButton .MuiOutlinedInput-input {
			margin: -8px auto !important;
		}
	}
}

@media screen and (max-width: 1060px) {
	.mainGameWindow {
		// margin: 55px auto;

		margin: 55px auto;
		margin-bottom: 40px;
		// padding-bottom: 0px !important;
		width: 45%;
		width: 400px;
		height: 480px;
		border-radius: 25px;
		border: 1px solid rgba(255, 255, 255, 0.7) !important;

		.msgPlay {
			margin: 50px auto;
			width: 80%;

			h1 {
				font-size: 20px;
				line-height: 40px;
			}
		}
		.iconePLayGame {
			margin: -10px auto;
			img {
				width: 120px;
			}
		}

		.buttonMui {
			border: 1px solid rgba(255, 255, 255, 0.7);
			font-size: 1.3vw;
			font-size: 15px;
		}
		.buttonMui:hover {
			font-size: 16px;
		}
		.MuiCircularProgress-root {
			color: #ca6c88;
		}
		.buttonDiv {
			.MuiCircularProgress-root {
				margin-left: 12px;
			}
		}

		.playRandom {
			width: 40%;
			height: 40px;
			margin: 55px auto;
		}

		.buttonMuiFriend {
			margin: 30px 0 0 0;
			height: 40px;
		}

		.formDivButton {
			margin-top: 30px;
			height: 35px;
		}
		.buttonMui {
			border-radius: 13px !important;
		}

		.formDivButton .muiButtonInput {
			border-radius: 9px 0px 0px 9px;

			border-top: 1px solid rgba(255, 255, 255, 0.8);
			border-bottom: 1px solid rgba(255, 255, 255, 0.8);
			border-left: 1px solid rgba(255, 255, 255, 0.8);

			.MuiFormHelperText-root {
				font-size: 10px;
				width: 150px;
				line-height: 13px;
				margin-left: 37%;
			}
		}

		.buttonDiv {
			.MuiCircularProgress-root {
				color: #ca6c88;
				margin: 25% 0% 0% 28%;
				width: 17px !important;
				height: 17px !important;
			}
			.MuiCircularProgress-svg {
				width: 17px !important;
				height: 17px !important;
			}
		}

		.formDivButton .MuiOutlinedInput-input {
			margin: -10px auto !important;
			font-size: 14px;
		}

		.formDivButton .buttonDiv {
			width: 48px !important;
			border-radius: 0 8px 8px 0px;

			img {
				width: 18px;
			}
			img:hover {
				width: 20px;
			}
		}

		.formDivButton:focus-visible {
			outline: none;
			text-decoration: none;
		}
		.formDivButton ::placeholder {
			font-size: 14px;
			height: 23px;
			margin-top: 0px;
		}
	}
}

@keyframes shake-horizontal {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	20% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	30% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	40% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	50% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}
