@use '@material/tab-bar/mdc-tab-bar';

.mainHisUser {
	width: 80%;
	margin: 90px 0 0 250px;
	margin: 90px auto;
	height: 38vw;
	// height: 1000px;
	margin-bottom: 100px;
	border-radius: 2.2vw;
	border: 3px solid rgba(255, 255, 255, 0.7);
	background: linear-gradient(5.69deg, #e69c6a -3.67%, rgba(230, 156, 106, 0) 102.8%);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	h1,
	h3 {
		font-family: Montserrat, sans-serif;
		color: white;
	}

	.searchCase {
		width: 85%;
		margin: 2% 0 0 10%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		height: 10%;
		h1 {
			font-size: 2.2vw;
			font-weight: 500;
		}

		///////////////////////////////////////////////////////

		.MainmyGameDIv {
			display: flex;

			justify-content: flex-end;
			height: 2.3vw;

			.myGameDIv {
				height: 100%;
				width: 7vw;

				.muiButtonActive {
					border-radius: 12px;
					border-radius: 0.8vw;
					font-size: 0.9vw;

					border: white 2px solid;
					background-color: #e69c6a;
				}
				.muiButtonInactiv {
					height: 100%;
					border-radius: 12px;
					border-radius: 0.8vw;
					font-size: 0.9vw;

					border: #e69c6a 2px solid;
					background-color: transparent;
				}

				.muiButton:hover {
					font-size: 1vw;
					background-color: rgba(230, 156, 106, 0.5);
				}
			}
		}
	}

	////////////////////////////////////////////////
	.dpdInfo {
		display: flex;
		width: 95%;

		height: 9%;
		display: flex;

		align-self: flex-end;

		h3 {
			color: #e69c6a;
			font-size: 1.2vw;
			font-weight: 300;
		}

		.infoPlayer {
			margin: 22px 0 0 0px;

			text-align: center;
			width: 33.5%;
		}
		.infoScore {
			width: 23%;
			text-align: center;
		}
		.infoDate {
			width: 23%;
			text-align: center;
		}
		.infoDuration {
			text-align: center;
			width: 20%;
		}
	}

	.pageOverflow {
		overflow: auto;
		height: 70% !important;
		width: 100%;
		margin: 1% 0 0 0;
	}
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		margin-top: 30px;
		margin-bottom: 60px;
		border-radius: 20px;
	}

	.histUser {
		width: 100%;
		height: 90%;
		margin: 0px auto;

		display: flex;
		flex-direction: column;

		.infoHistory {
			display: flex;
			color: white;
			// margin: 0px 0 0 0px;
			display: flex;

			align-self: flex-end;

			width: 95%;
			margin: 1.4% 0% 0% 0%;

			.mainPlayer {
				display: flex;
				width: 34%;
				.userImg {
					.MuiAvatarGroup-root {
						width: 100%;
					}
					.MuiAvatar-root {
						width: 5vw;
						height: 5vw;
						border: none;
					}

					.MuiBadge-badge {
						width: 17%;
						height: 16%;
						background-color: #e6da6a;
						color: #e6da6a;
						border-radius: 100%;
						box-shadow: 0 0 0 0.5px #e6da6a;
						z-index: 3;
					}
					.MuiBadge-badge::after {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						animation: badgeAnim 1.2s infinite ease-in-out;
						border: 1px solid #e6da6a;
						content: '';
					}
					.domUser {
						z-index: 1;
					}
					.extUser {
						z-index: 2;
					}
				}

				.playerName {
					// flex-grow: 1;
					// margin-right: 180px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0px 0 0 10%;

					p {
						font-size: 17px;
						font-size: 1.2vw;
						margin: 2px 0 0 0;
					}

					.player {
						.vs {
							margin: 2px 10px 0 10px;
							color: #ca6c88;
							font-weight: 800;
							font-size: 18px;
							font-size: 1.3vw;
							font-family: Montserrat, sans-serif;
						}
					}
				}
			}
			.playerScore {
				// width: 200px;
				// margin: 0 0 0 50px;
				justify-content: center;
				align-items: center;
				// flex-grow: 2;
				width: 23%;

				p {
					font-size: 15px;
					font-size: 1.3vw;
				}
			}
			.semilicon {
				margin: 0 8px 0 8px;
			}
			.date {
				// width: 200px;
				// margin: 0 0 0 70px;
				justify-content: center;
				align-items: center;
				width: 23%;

				// flex-grow: 2;
				p {
					font-size: 1.2vw;
					line-height: 28px;
				}
				.timeHours {
					margin: -15px 0 0 0;
				}
			}
			.duration {
				// margin: 0 0 0 70px;
				justify-content: center;
				align-items: center;

				// border: 1px solid green;

				width: 20%;

				p {
					font-size: 15px;
					font-size: 1.2vw;
					letter-spacing: 3px;
				}
			}
		}
	}
}

@media screen and (max-width: 1920px) {
	.mainHisUser {
		border: 2px solid rgba(255, 255, 255, 0.7);
	}
}

@media screen and (max-width: 1750px) {
	.mainHisUser {
		.histUser {
			.infoHistory {
				.mainPlayer {
					.playerName {
						margin-left: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.mainHisUser {
		.histUser {
			.infoHistory {
				.mainPlayer {
					.userImg {
						.MuiAvatar-root {
							width: 60px;
							height: 60px;
						}
					}
					.playerName {
						margin-left: 20px;
					}
				}
				.playerScore {
					width: 23%;
					p {
						font-size: 14px;
					}
				}
				.semilicon {
					margin: 0 8px 0 8px;
				}
				.date {
					width: 23%;
					p {
						font-size: 13px;
						line-height: 28px;
					}
					.timeHours {
						margin: -15px 0 0 0;
					}
				}
				.duration {
					width: 20%;
					p {
						font-size: 13px;
						letter-spacing: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.mainHisUser {
		border: 1px solid rgba(255, 255, 255, 0.7);

		.MainmyGameDIv {
			.myGameDIv {
				.muiButtonActive {
					border: white 1px solid !important;
				}
				.muiButtonInactiv {
					border: #e69c6a 1px solid !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1270px) {
	.mainHisUser {
		height: 500px;
	}
	.MainmyGameDIv {
		height: 28px !important;

		.myGameDIv {
			width: 90px !important;
			.muiButtonActive {
				font-size: 0.9vw;
				font-size: 10px !important;
				border-radius: 10px !important;
			}
			.muiButtonInactiv {
				border-radius: 10px !important;
				font-size: 10px !important;
			}

			.muiButton:hover {
				font-size: 11px !important;
				background-color: rgba(230, 156, 106, 0.5);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.mainHisUser {
		margin-top: 60px;
	}
}

@media screen and (max-width: 1156px) {
	.mainHisUser {
		.histUser {
			.infoHistory {
				.mainPlayer {
					.playerName {
						margin-left: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1150px) {
	.mainHisUser {
		width: 80%;
		// margin: 90px auto;
		// height: 38vw;
		margin-bottom: 100px;
		border: 1px solid rgba(255, 255, 255, 0.7);

		.searchCase {
			h1 {
				font-size: 24px;
			}
		}

		.dpdInfo {
			h3 {
				font-size: 12px;
			}
		}
		.histUser {
			.infoHistory {
				.mainPlayer {
					.userImg {
						.MuiAvatar-root {
							width: 55px;
							height: 55px;
						}
					}
					.playerName {
						width: 300px;
						p {
							font-size: 12px;
							margin: 2px 0 0 0;
						}
						.player {
							.vs {
								margin: 2px 10px 0 10px;
								font-size: 13px;
							}
						}
					}
				}
				.playerScore {
					width: 23%;
					p {
						font-size: 12px;
					}
				}
				.semilicon {
					margin: 0 8px 0 8px;
				}
				.date {
					width: 23%;
					p {
						font-size: 11px;
						line-height: 28px;
					}
					.timeHours {
						margin: -15px 0 0 0;
					}
				}
				.duration {
					width: 20%;
					p {
						font-size: 11px;
						letter-spacing: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.mainHisUser {
		.histUser {
			.infoHistory {
				.mainPlayer {
					.playerName {
						.player {
							.vs {
								margin: 2px 3px 0 3px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.mainHisUser {
		height: 500px;

		hr {
			color: black;
			border: 1px solid black;
		}

		.histUser {
			.infoHistory {
				.mainPlayer {
					.playerName {
						p {
							font-size: 15px;
							margin: 2px 0 0 0;
						}
						.player {
							.vs {
								margin: 2px 10px 0 10px;
								font-size: 16px;
							}
						}
					}
				}
				.playerScore {
					width: 23%;
					p {
						font-size: 14px;
					}
				}
				.semilicon {
					margin: 0 8px 0 8px;
				}
				.date {
					width: 23%;
					p {
						font-size: 13px;
						line-height: 28px;
					}
					.timeHours {
						margin: -15px 0 0 0;
					}
				}
				.duration {
					width: 20%;
					p {
						font-size: 13px;
						letter-spacing: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.mainHisUser {
		border-radius: 25px;

		.dpdInfo {
			width: 100%;
		}
		.histUser {
			.infoHistory {
				width: 100%;
				.mainPlayer {
					.playerName {
						// margin-left: 20px;

						margin: 0% 0% 0% 0%;
						width: 100%;
						p {
							font-size: 10px;
						}
						.player {
							.vs {
								font-size: 11px;
							}
						}
					}
				}
				.playerScore {
					p {
						font-size: 10px;
					}
				}
				.semilicon {
					margin: 0 8px 0 8px;
				}
				.date {
					p {
						font-size: 10px;
						line-height: 28px;
					}
					.timeHours {
						margin: -15px 0 0 0;
					}
				}
				.duration {
					p {
						font-size: 10px;
						letter-spacing: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.mainHisUser {
		width: 410px;
		.searchCase {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 7% 0% 0% 0%;

			h1 {
				text-align: center;
			}
		}

		.MainmyGameDIv {
			display: flex;
			margin: 5% 0% 0% 0%;
			justify-content: space-around !important;
			width: 100%;
		}

		.dpdInfo {
			margin: 5% 0% 0% 0%;

			.infoPlayer {
				margin: 27px 0 0 0px;
			}
		}
		.histUser {
			.infoHistory {
				.semilicon {
					margin: 0 8px 0 8px;
				}
			}
		}
	}
}
