.mainOnlineGame {
	margin: 90px 0 0 20px;
	width: 78%;
	height: 37vw;
	padding: 0 20px 20px 20px;
	border-radius: 2.2vw;
	border: 3px solid rgba(255, 255, 255, 0.7);
	background: linear-gradient(5.69deg, #e69c6a -3.67%, rgba(230, 156, 106, 0) 102.8%);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	.title {
		width: 100%;
		height: 100px;
		margin: 50px 0 0px 0;
		h1 {
			display: flex;
			color: white;
			font-style: normal;
			font-weight: 400;
			font-size: 2vw;
			font-family: 'Press Start 2P', cursive;
			margin: 0 0 0 40px;
		}
	}

	.pageOverflow {
		margin: 20px auto;
		width: 100%;
		height: 80%;
		padding: 0 30px 0 30px;
		overflow: auto;
	}
	::-webkit-scrollbar {
		width: 10px;
		width: 0.5vw;
	}
	::-webkit-scrollbar-track {
		margin-top: 80px;
		margin-bottom: 80px;
		margin-left: 3px;
		border-radius: 20px;
	}

	.onlineDiv {
		width: 100%;
	}

	.partyOnline {
		margin: 0 0 50px 0;

		.userImg {
			.MuiAvatarGroup-root {
				width: 100%;
			}
			.MuiAvatar-root {
				width: 95px;
				width: 5vw;
				height: 95px;
				height: 5vw;
				border: none;
			}

			.MuiBadge-badge {
				width: 17%;
				height: 16%;
				background-color: #e6da6a;
				color: #e6da6a;
				border-radius: 100%;
				box-shadow: 0 0 0 0.5px #e6da6a;
				z-index: 3;
			}
			.MuiBadge-badge::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				animation: badgeAnim 1.2s infinite ease-in-out;
				border: 1px solid #e6da6a;
				content: '';
			}
			.domUser {
				z-index: 1;
			}
			.extUser {
				z-index: 2;
			}
		}

		.userStat {
			width: 45%;
			margin: 0 0 0 50px;

			.user {
				color: rgba(255, 255, 255, 0.8);
				font-family: Montserrat, sans-serif;
				font-size: 19px;
				font-size: 1.2vw;
			}
		}
		.player {
			margin: 20px auto;
			height: 34px;
			display: flex;
			justify-content: center;

			.vs {
				margin: 0 9px 0 9px;
				color: #ca6c88;
				font-size: 21px;
				font-size: 1.3vw;
				font-family: Montserrat, sans-serif;
			}
		}
		.score {
			display: flex;
			margin: -25px auto;
			p {
				color: white;

				font-size: 19px;
				font-size: 1.1vw;
			}
			.semiliconGame {
				margin: 0 5px 0 5px;
			}
		}

		.userWatch {
			width: 130px;
			width: 6vw;
			margin: 0 0 0 45px;

			.muiButton {
				height: 40px;
				height: 2vw;
				border: white 2px solid;
				border-radius: 0.7vw;
				color: white;
				font-family: Montserrat, sans-serif;
				font-weight: 500;
				font-size: 17px;
				font-size: 0.9vw;
				margin: 25px 0 0 0;
			}
			.muiButton:hover {
				background-color: rgba(230, 156, 106, 0.5);
				font-size: 1vw;
			}
		}
	}
}

@media screen and (max-width: 2140px) {
	.mainOnlineGame {
		.partyOnline {
			margin: 0 0 40px 0;
		}
	}
}

@media screen and (max-width: 1920px) {
	.mainOnlineGame {
		margin: 90px 0 0 10px;
		height: 40vw;
		border: 2px solid rgba(255, 255, 255, 0.7) !important;

		.pageOverflow {
			margin: -14px auto;
		}
		.partyOnline {
			.userStat {
				.user {
				}
			}
			.userWatch {
				margin: 0 0 0 35px;
				.muiButton {
				}
				.muiButton:hover {
				}
			}
		}
	}
}

@media screen and (max-width: 1760px) {
	.mainOnlineGame {
		.partyOnline {
			.userStat {
				margin: 0 0 0 20px;

				width: 60%;
				.user {
				}
			}
			.userWatch {
				// margin: 0 0 0 35px;

				width: 7vw;
				margin: 0 0 0 15px;

				.muiButton {
				}
				.muiButton:hover {
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.mainOnlineGame {
		.pageOverflow {
		}
		.player {
			.vs {
			}
		}
		.score {
			p {
			}
			.semiliconGame {
			}
		}
		.userWatch {
			.muiButton {
			}
			.muiButton:hover {
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.mainOnlineGame {
		.pageOverflow {
			margin: -30px auto;
		}
		.partyOnline {
			width: 105% !important;
			margin: 0 0 35px 0;
			.userStat {
				width: 70% !important;
				.user {
					font-size: 1.1vw;
				}
			}
			.userWatch {
				margin: 0 0 0 25px;
				width: 9vw !important;
				.muiButton {
					border: white 1px solid;
					// margin: 0% 0% 0% 3px;
				}
				.muiButton:hover {
				}
			}
			.player {
				.vs {
					// font-size: 1.3vw;
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.mainOnlineGame {
		margin: 90px 0 0 5px;

		.pageOverflow {
			height: 90%;
			margin: -5% 0% 0% 0%;
		}
	}
}

@media screen and (max-width: 1200px) {
	.mainOnlineGame {
		margin-top: 60px;
		height: 500px;

		.pageOverflow {
			margin: -30px auto;
			height: 75%;
		}
	}
}

@media screen and (max-width: 1170px) {
	.mainOnlineGame {
		.pageOverflow {
			padding: 0 20px 0 10px;
		}
		.partyOnline {
			.userStat {
				.user {
				}
			}
			.userWatch {
				.muiButton {
				}
				.muiButton:hover {
				}
			}
			.player {
				.vs {
				}
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.mainOnlineGame {
		margin: 55px auto;
		margin-bottom: -70px;
		width: 440px;
		height: 480px;
		padding: 0 20px 20px 20px;
		border-radius: 25px;
		border: 1px solid rgba(255, 255, 255, 0.7) !important;

		.title {
			width: 100%;
			height: 100px;
			margin: 50px 0 0px 0;
			h1 {
				font-size: 22px;
			}
		}
		.pageOverflow {
			width: 105%;
			padding: 0 30px 0 8px;
		}
		.onlineDiv {
			width: 100%;
		}
		.partyOnline {
			margin: 0 0 35px 0;

			.userImg {
				.MuiAvatarGroup-root {
					width: 100%;
				}
				.MuiAvatar-root {
					width: 55px;
					height: 55px;
					border: none;
				}
				.domUser {
					z-index: 1;
				}
				.extUser {
					z-index: 2;
				}
			}
			.userStat {
				.user {
					font-size: 14px;
				}
			}
			.player {
				margin: 10px 60px 0 0;
				width: 170px;
				.vs {
					font-size: 15px;
					margin-top: -3px;
				}
			}
			.score {
				margin-left: 65px;
				margin-top: -15px;
				p {
					font-size: 12px;
				}
			}
			.userWatch {
				margin: 0px 0px 0 -50px;
				.muiButton {
					width: 80%;
					height: 22px;
					border-radius: 8px;
					font-size: 9px;
				}
				.muiButton:hover {
					font-size: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.mainOnlineGame {
		.partyOnline {
			.userWatch {
				.muiButton {
					margin-left: -20px;
					font-size: 9px;
				}
				.muiButton:hover {
					font-size: 10px;
				}
			}
		}
	}
}
