

.mainPageBody {

  
  
}



.MainGame {
}

///////////////////////////////////////////////
//////// reponsive max-width: 1440px  /////////
///////////////////////////////////////////////






@keyframes badgeAnim{
    0% {
      transform: scale(.8);
      opacity: 1;
    }
    100% {
      transform: scale(2.4);
      opacity: 0;
    }
  } 

