
.App {
  min-height: 100vh;
 


}

.mainHome {
  background-image: url('./img/flat-mountains.svg');
}

.Home {
  min-height: 82vh;
  

}

// .bg {
//   animation:slide 10s ease-in-out infinite alternate;
//   background-image: linear-gradient(-60deg, #F0A500 50%, #00adb5 50%);
//   bottom:0;
//   left:-50%;
//   opacity:.5;
//   position:fixed;
//   right:-50%;
//   top:0;
//   z-index:-1;
// }

// .bg2 {
//   animation-direction:alternate-reverse;
//   animation-duration:10s;
// }

// .bg3 {
//   animation-duration:10s;
// }

// @keyframes slide {
//   0% {
//     transform:translateX(-25%);
//   }
//   100% {
//     transform:translateX(25%);
//   }
// }