

.mainGameWindow {


    margin: -20px 0 0 190px;
  
    width: 78%;
    height: 65vh;

    border-radius: 23px;
    // background-color: #2E4266;
    border: 1px solid rgba(255, 255, 255, 0.7);
    
    background: linear-gradient(104.69deg, #E69C6A -3.67%, rgba(230, 156, 106, 0) 102.8%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    

    .msgPlay {
        margin: 80px auto;
        width: 55%;
        h1 {
            font-family: Montserrat, sans-serif;
            color: white;
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 70px;
            text-align: center;
        }
    }
    .iconePLayGame {
        margin: -40px auto;
        img {
            width: 165px;
            
        }
    }


    .buttonMui {
        background-color: #CA6C88;
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 27px;
        font-weight: 500;
    }
    .buttonMui:hover {
        font-size: 30px;
        background-color: rgba(124,90,100, 0.9);
    }
    .MuiCircularProgress-root {
        color: #CA6C88;
    }

    .playRandom {
        width: 40%;
        height: 8%;
        margin: 90px auto;

    }

    .playFriend {
        width: 40%;
        height: 8%;
        margin: -60px auto;
    }
    .buttonMuiFriend {
        margin: 30px 0 0 0;
    }


   
    .formDivButton {
        margin-top: 30px;
        .formDiv {
            
        } 
       
        height: 60px;

        
        .buttonDiv {
            width: 60px;
            border-radius: 0 10px 10px 0px;
            background-color: white;

            img {
                width: 30px;
            }
            img:hover {
                width: 40px;
            }
            
        }
    }
    .formDivButton:focus-visible{
        outline:none;
        text-decoration: none;
        
       
        
    }
    .formDivButton ::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 22px;
      
        height: 30px;
        font-family: Montserrat, sans-serif;
        
        // ANIMATIONHOVER CSSS
    }
    


    

   

}

