

.mainGameWindow {


    margin: 30px 0 0 200px;
  
    width: 93%;
    height: 65vh;

    border-radius: 23px;
    background-color: #2E4266;
    border: 1px solid rgba(255, 255, 255, .1);

   

}

