@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.MainTitle {
    position: absolute;
    width: 690px;
    height: 88px;
    left: 130px;
    top: 117px;
   
    .Title{
      text-align: center;
      

      h1 {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 95px;
      line-height: 88px;
      color: #FFFFFF;
      text-align: center;

      }  
  }

    .TitleText {
      text-align: center;

      h5 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        color: #E69C6A;
    }
  }
    
  
    .sepTitle {
      hr {
        height: 3px;
        width: 100%;
        margin: 20px auto ;
        animation-name: slideHr;
        animation-delay: 0s;
        animation-duration: 4s;
        color: #CA6C88;
        
      }
  }
} 


            ////////////////////////
            /// animation titre ////
            ////////////////////////

.MainTitle:first-of-type h1, h5 {   
  animation: showup 7s;
  animation-iteration-count: 1;
}

.MainTitle:last-of-type h1, h5{
  animation: reveal 0s;
  animation-iteration-count: 0;
  
}

.MainTitle:last-of-type h1, h5{
  animation: slidein 7s ;
  animation-iteration-count: 1;
 
}  
@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-1600px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
     0% {opacity:0;width:0px;}
     20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

@keyframes slideHr {
  from {
   visibility: visible;
    margin-left: 100%;
    width: 0%;
  }

  to {
    visibility: visible;
    margin-left: 0%;
   
    width: 100%;
  }
 }


    ///////////////////////////////////////////////
    //////// reponsive max-width: 1440px  /////////
    ///////////////////////////////////////////////
@media screen and (max-width: 1440px) { 
  .MainTitle {
    position: absolute;
    width: 690px;
    height: 88px;
    left: 40px;
    top: 120px;
   
    .Title{
      

      h1 {
      font-size: 70px;
      line-height: 50px;
      }  
  }

    .TitleText {
      text-align: center;

      h5 {
        font-size: 23px;
        line-height: 60px;
    }
  }
    .sepTitle {
      hr {
        height: 3px;
        width: 80%;
        margin: 0px auto ;
      }
  }
} 

}


    ///////////////////////////////////////////////
    //////// reponsive max-width: 1366px  /////////
    ///////////////////////////////////////////////
@media screen and (max-width: 1366px) {
  .MainTitle {
    width: 600px;
    height: 88px;
    left: 60px;
    top: 80px;



    .Title{
      h1 {
      font-size: 62px;
      line-height: 82px;
      }  
  }
  .TitleText {
    
    h5 {
      
      font-size: 18px;
      line-height: 20px;
     
  }
}
    .sepTitle {
    hr {
     
      height: 2px;
      margin: 15px auto ;
    }
}

  }

  

}



 