.SnackBarreGame {
	.MuiPaper-root {
		width: 500px;
		height: 150px;
		border-radius: 25px;
		background: #e66a6a;
		overflow: hidden;
		padding: 0;
		display: flex;
		flex-direction: column;
		border: 2px solid rgba(255, 255, 255, 0.8);
	}

	.MuiSnackbarContent-message {
		width: 100%;
		font-family: Montserrat, sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 19px;
		flex-grow: 1;
	}

	.MuiSnackbarContent-action {
		width: 100%;
		padding: 0;
		margin: 0;
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.contentButton {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
	}
	.buttonMui {
		height: 40px;
		font-size: 15px;
		border-radius: 15px;
		color: white;
		border: 1px solid rgba(255, 255, 255, 0.4);
		transition: ease-out 0.125s;
	}
	.buttonMui:hover {
		background-color: (rgba(0, 0, 0, 0.2));
		font-size: 16px;
	}

	.progressMui {
		width: 100%;
		height: 16px;
	}
	.MuiLinearProgress-root {
		width: 100%;
		height: 100%;
		background-color: #e66a6a;
	}

	.MuiLinearProgress-barColorPrimary {
		background-color: #fcddec;
	}
}

@media screen and (max-width: 2000px) {
	.SnackBarreGame {
		.MuiPaper-root {
			width: 470px;
			height: 130px;
			border-radius: 22px;
		}

		.MuiSnackbarContent-message {
			font-size: 17px;
			flex-grow: 1;
		}

		.MuiSnackbarContent-action {
			flex-grow: 2;
		}

		.contentButton {
			margin-top: 10px;
		}
		.buttonMui {
			height: 35px;
			font-size: 13px;
			border-radius: 14px;
			border: 1px solid rgba(255, 255, 255, 0.4);
		}
		.buttonMui:hover {
			font-size: 14px;
		}

		.progressMui {
			width: 100%;
			height: 14px;
		}
	}
}

@media screen and (max-width: 1500px) {
	.SnackBarreGame {
		.MuiPaper-root {
			width: 400px;
			height: 100px;
			border-radius: 18px;
			border: 1px solid rgba(255, 255, 255, 0.8);
		}

		.MuiSnackbarContent-message {
			font-size: 14px;
			flex-grow: 1;
		}

		.MuiSnackbarContent-action {
			flex-grow: 2;
		}

		.contentButton {
			margin-top: 2px;
		}
		.buttonMui {
			height: 28px;
			font-size: 10px;
			border-radius: 14px;
			border: 1px solid rgba(255, 255, 255, 0.4);
		}
		.buttonMui:hover {
			font-size: 11px;
		}

		.progressMui {
			width: 100%;
			height: 11px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.SnackBarreGame {
		.MuiPaper-root {
			width: 300px;
			height: 80px;
			border-radius: 18px;
		}

		.MuiSnackbarContent-message {
			font-size: 11px;
			flex-grow: 1;
		}

		.MuiSnackbarContent-action {
			flex-grow: 2;
		}

		.contentButton {
			margin-top: 2px;
		}
		.buttonMui {
			height: 22px;
			font-size: 8px;
			border-radius: 14px;
			border: 1px solid rgba(255, 255, 255, 0.4);
		}
		.buttonMui:hover {
			font-size: 9px;
		}

		.progressMui {
			width: 100%;
			height: 8px;
		}
	}
}

@media screen and (max-width: 600px) {
	.SnackBarreGame {
		.MuiSnackbar-root {
			width: 200px;
			position: absolute;
			left: 50%;
			top: 13%;
			transform: translate(-50%, -50%);
		}

		.MuiPaper-root {
			width: 300px;
			height: 70px;
			border-radius: 18px;
		}

		.MuiSnackbarContent-message {
			font-size: 9px;
			flex-grow: 1;
		}

		.MuiSnackbarContent-action {
			flex-grow: 2;
		}

		.contentButton {
			margin-top: 2px;
		}
		.buttonMui {
			height: 19px;
			font-size: 7px;
			border-radius: 13px;
			border: 1px solid rgba(255, 255, 255, 0.4);
		}
		.buttonMui:hover {
			font-size: 8px;
		}

		.progressMui {
			width: 100%;
			height: 6px;
		}
	}
}
