.mainSnackBarre {
	.snackBarImg {
		margin: 0% 0% 0% 0;
		img {
			width: 20px;
			height: 20px;
		}
	}
	.snackBarText {
		margin: 0% 0% 0% 7%;
		p {
			line-height: 7px;
			font-size: 1vw;
			font-family: Montserrat, sans-serif;
			color: white;
		}
	}
}

.SnackBarreGame {
	.Toastify__progress-bar-theme--light {
		background: #fcddec !important;
	}

	.Toastify__toast-theme--light {
		background-color: #e66a6a !important;
	}

	.Toastify__close-button {
		color: white;
	}
}
