

.fadeMainInfoUser {
    width: 100%;
}

.ParamUser {
    .infoUser {
        width: 90%;
        height: 60vh;
       text-align: start;
       display: flex;
       flex-direction: column;
    
       
      
        
        margin: 10px 0 0 0%;
        
        .columnOne, .columntwo {
            display: flex;
        }
        hr{
            width: 60%;
            text-align: center;
            color: white;
            margin: 40px 0 0 20%;
        }
    
        .infoBio {
            .MuiInputBase-root {
                margin: 5px 0 0 0;
                border-radius: 20px;
                width: 325%;
                color: white;
    
            }
        }
        
    }


    .infoName {
        margin: 20px 0 0 15%;
       
    
        h3{
            margin: 0 0 5px 12px;
            font-size: 1em;
            color: rgba(189, 160, 101, .8);
            
          
        }
        .MuiInputBase-root {
            margin: 5px 0 0 0;
            border-radius: 70px;
            width: 160%;
            color: white;

        }
    }

    .selectedNav {
        color: red;
        border: solid red 2px;
    }
}