

.mainWindowChat {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 30%;
    height: 45vh;
    background-color: #2E4266;
    border: 1px solid rgba(255, 255, 255, .1);

    .mainNav {
        width: 35%;
        border-right: grey 1px solid;


        .infoNav {

        .searchBarre .MuiInputBase-root {
            border-radius: 20px;
            margin: 20px 0 0px 10px;

            width: 120px;
            height: 25px;
            
            color: white;
            font-size: 0.8em;
        
            
            
        }
        .searchBarre .MuiIcon-colorPrimary {
            margin-right: 30px;
        }
        
        
    }
    }

    .mainMessage {
        width: 65%;
        height: 100%;

        .infoChat {
            border-bottom: 1px solid grey ;
            height: 50px;

            .exitIcon {
                margin: 1px 0 0 280px;
                width: 30px;
            }
        }

        .inputMessage {
            display: flex;
            justify-content: flex-end;
        }
    }


    
}