
.mainHeader {
    width: 100%;
    justify-content: center;

    
   .logo{
       width: 50px;
       height: 50px;
       margin: 0 0 0 20px ;
   }
   
   .menuHeader {
    width: 85%;
    height: 85px;
   
    margin: 50px auto;
    display: flex;
  
    background: rgba(230, 156, 106, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
 
   
    .selectedNave{
     
     border-bottom: 2px #E6DA6A solid;
 
     
     
     
 }
     
 
 }

 .mainNavMenu {
     width: 80%;
 }
 
 .headerMenu {
     margin: 0 auto;
     display: flex;
     justify-content: space-around;
    
 
    .toNavLink {
        width: 100%;
    }
 
     .iconHeader {
         color: rgba(255, 255, 255, .2);
        
         // margin: 0 80px 0 80px;
        
         
       
     }
     li {
         width: 90px;
     }
     .leaderDiv {
         width: 155px;
     }  
 
 
     h1 {
         font-family: Montserrat, sans-serif;
         color: white;
         font-weight: 500;
         font-size: 23px;
         line-height: 35px;
         margin: 0 auto;
     }
     h1:hover {
        font-size: 26px;
     }
     
 }
 
 .iconeSetting:hover, .iconeRank:hover, .iconeNewGame:hover  {
     color: var(--colorHover);
 
 }
 
 
 
 
 .nav-item  {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
     
 }
     
 
 
 
 .logHeader {
     width: 15%;
     margin: 0 0 0 0px;


    .profil {
        .profilLoggin {
            width: 200px;
            height: 40px;
            margin: 22px 0 0 0 ;
            h2 {
                font-family: Montserrat, sans-serif;
                color: white;
                font-weight: 500;
                font-size: 23px;
                text-align: center;
            }
        }

        .profilLogginImg {
            // margin: 0 0 0 45px;
            

            img {
                width: 70px;
                height: 70px;
            }

        }
        
    }

     
    //  .profil {
         
    //   .profilLoggin {
    //       height: 40px;
    //      width: 200px;
    //       margin: 17px 0 0 0;
    //   }
 
    //      h2 {
    //         font-family: Montserrat, sans-serif;
    //         color: white;
    //         font-weight: 500;
    //         font-size: 23px;
    //         text-align: center;
             
    //      }
    //  }
     
    //  .profilLogginImg {
    //     width: 70px;
    //     margin: 0 0 0 50px;
    //  }

    //  img {
    //      width: 70px;
    //      height: 70px;

         
         
        
         
    //  }
 
     .profil:hover {
         padding: 0 0 0 10px;
         border-radius: 20px;
         background-color: #364f6b;
     }
     
 }
 
 
}

