@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');



body {
    display: grid;
    place-items: center;
    
    
   
}

.HomeLoading {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.barre {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background: #dee1ec;
    height: 49px;
    width: 800px;
    border-radius: 50px;
    /* animation-delay: 3s; */
   
    
}

.barre-done {
    font-family: 'Akronim', cursive;   font-weight: bolder; font-size: 2em;
        color: #fff;
        height: 60px;
        background: linear-gradient(0deg,  #D9AFD9 0%, #97D9E1 100%);
        border-radius: 50px;
        display: grid;
        place-items: center;
        width: 0;
        box-shadow: 0 0px 13px -5px black, 0px 3px 150px black;
        transition: width .5s ;
    }

.loadingWrite  h1{
   text-align: center;
   margin-top: 40px;
   margin-right: 20px;
   font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
   color: white;
}




span {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 5em;
    display: inline-block;
    margin: -315px 0 0 -10px;
    opacity: 0;
    transform: rotateX(-90deg);
   
    color: white;
    
}

.let1 {
    animation: drop 0.8s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  
  .let2 {
    animation: drop 0.8s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  
  .let3 {
    animation: drop 0.8s ease-in-out infinite;
    animation-delay: 0.8s;
  }

  @keyframes drop {
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}


// .centered{
// 	width:400px;
// 	height:400px;
// 	position:absolute;
// 	top:50%;
// 	left:50%;
//     margin-top: -150px;
// 	transform:translate(-50%,-50%);
	
// 	filter: blur(02px) contrast(20);
// }
// .blob-1,.blob-2{
// 	width:70px;
// 	height:70px;
// 	position:absolute;
// 	background: #B2B1B9;
// 	border-radius:50%;
// 	top:50%;left:50%;
// 	transform:translate(-50%,-50%);
// }
// .blob-1{
// 	left:20%;
// 	animation:osc-l 2.5s ease infinite;
// }
// .blob-2{
// 	left:80%;
// 	animation:osc-r 2.5s ease infinite;
// 	background:#0ff;
// }
// @keyframes osc-l{
// 	0%{left:20%;}
// 	50%{left:50%;}
// 	100%{left:20%;}
// }
// @keyframes osc-r{
// 	0%{left:80%;}
// 	50%{left:50%;}
// 	100%{left:80%;}
// }



.pong-loader {
   
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -260px;
    height: 40px;
    width: 6px;

    background-color: transparent;
    animation: paddles 0.75s ease-out infinite;
    transform: translate3d(0,0,0);
    
    &:before {
      content: "";
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 15px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      animation: ballbounce 0.6s ease-out infinite;
    }
  }
  
  @keyframes paddles {
    0% {
      box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
    50% {
      box-shadow: -25px 8px 0px #fff, 25px -10px 0px #fff;
    }
    100% {
      box-shadow: -25px -10px 0px #fff, 25px 10px 0px #fff;
    }
  }
  
  @keyframes ballbounce {
    0%{
      transform: translateX(-20px) scale(1,1.2);
    }
    25%{
      transform: scale(1.2,1);
    }
    50% {
      transform: translateX(15px) scale(1,1.2);
    }
    75% {
      transform: scale(1.2,1);
    }
    100% {
      transform: translateX(-20px);
    }
  }

