.App {
	min-height: 100vh;
	min-width: 100vh;
	background: url('./components/homePage/img/flat-mountains.png');
	background-size: 100% 100%;
}

.HomePage {
	min-height: 100vh;
	min-width: 100vh;
	padding-top: 30px;
}

/* ///////////////////////////////////////////////
//////// reponsive max-width: 1100px  /////////
/////////////////////////////////////////////// */
@media screen and (max-width: 1100px) {
	.HomePage {
		min-height: 100vh;
		min-width: 100vh;
		padding-top: 0px;
	}
}
