
.Section {
    width: 50%;
    height: 70%;
    padding: 30px 0 0 30px;
    margin: 140px 0 0 20px;

    

}

.profil img {
    width: 85px;
    height: 85px;
}


.profil1{
    display: flex;
    margin: 5px 0 0 30px;
    width: 100%;
}



.profil2 {
    display: flex;
    margin: 50px 0 0 100px;
    width: 100%;

   
}
.profil3 {
   
    display: flex;
    margin: 50px 0 0 200px;
    width: 100%;
}

.listProfil2 {
    margin: 0 100px 0 0;
}


.profil4 {
   
    display: flex;
    margin: 65px 0 0 20px;
    width: 100%;
}

.profil5 {
   
    display: flex;
    margin: 60px 0 0 120px;
    width: 100%;
}

.info {
    margin: 10px 0 0px 30px ;
    


    
    
}

.info h3 {
   font-family: Montserrat, sans-serif;
   font-weight: normal;
    font-size: 24px;
    color: white;

}
.info p {
    color: #CA6C88;
    font-family: Montserrat, sans-serif;
   font-weight: normal;
    margin: -13px 0 0 0;
    font-size: 23px;
    line-height: 30px;
}





@media screen and (max-width: 1880px) {
    .listProfil {
        
    }

    .listProfil img {
    
        
        
    }
    .info {
        
    }

}


@media screen and (max-width: 1597px) {
    .listProfil {
        
   
        
    }
    .profil {
      
        
        
    }
}

@media screen and (max-width: 1362px) {
    .listProfil {
      
     

        
       
        
    }
    .info {
        
    }
    .listProfil img {
    
        
    }
    
}



@media screen and (max-width: 1034px) {
    .listProfil {
       
       
    }
}


@media screen and (max-width: 980px) {
    .listProfil {
       
        
    }
    
}
