
.Section {
    width: 50%;
    height: 70%;
    padding: 30px 0 0 30px;
    margin: 160px 0 0 20px;

    

}

.profil img {
    width: 85px;
    height: 85px;
}


.profil1{
    display: flex;
    margin: 5px 0 0 30px;
    width: 100%;
}



.profil2 {
    display: flex;
    margin: 65px 0 0 100px;
    width: 100%;

   
}
.profil3 {
   
    display: flex;
    margin: 66px 0 0 200px;
    width: 100%;
}

.listProfil2 {
    margin: 0 100px 0 0;
}


.profil4 {
   
    display: flex;
    margin: 80px 0 0 20px;
    width: 100%;
}

.profil5 {
   
    display: flex;
    margin: 60px 0 0 120px;
    width: 100%;
}

.info {
    margin: 10px 0 0px 30px ;
}

.info h3 {
   font-family: Montserrat, sans-serif;
   font-weight: normal;
    font-size: 24px;
    color: white;

}
.info p {
    color: #CA6C88;
    font-family: Montserrat, sans-serif;
   font-weight: normal;
    margin: -13px 0 0 0;
    font-size: 23px;
    line-height: 30px;
}


   ///////////////////////////////////////////////
    //////// reponsive max-width: 1440px  /////////
    ///////////////////////////////////////////////
@media screen and (max-width: 1440px) { 
    .Section {
        width: 50%;
        height: 70%;
        padding: 30px 0 0 30px;
        margin: 140px 0 0 20px;
    
        
    
    }
    
    .profil img {
        width: 60px;
        height: 60px;
    }
    
    
    .profil1{
        display: flex;
        margin: 5px 0 0 30px;
        width: 100%;
    }
    
    
    
    .profil2 {
        display: flex;
        margin: 50px 0 0 80px;
        width: 100%;
    
       
    }
    .profil3 {
       
        display: flex;
        margin: 50px 0 0 140px;
        width: 100%;
    }
    
    .listProfil2 {
        margin: 0 100px 0 0;
    }
    
    
    .profil4 {
       
        display: flex;
        margin: 55px 0 0 70px;
        width: 100%;
    }
    
    .profil5 {
       
        display: flex;
        margin: 50px 0 0 130px;
        width: 100%;
    }
    
    .info {
        margin: 5px 0 0px 27px ;
    }
    
    .info h3 {
   
       font-weight: normal;
        font-size: 19px;
    
    
    }
    .info p {
        
       font-weight: normal;
        margin: -15px 0 0 0;
        font-size: 19px;
        line-height: 30px;
    }
    
}



///////////////////////////////////////////////
//////// reponsive max-width: 1366px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1366px) {
    .Section {
        width: 50%;
        height: 70%;
        padding: 30px 0 0 30px;
        margin: 110px 0 0 20px;
    
    }
    
    .profil img {
        width: 55px;
        height: 55px;
    }
    
    
    .profil1{
        display: flex;
        margin: 5px 0 0 30px;
        width: 100%;
    }
    
    
    
    .profil2 {
        display: flex;
        margin: 40px 0 0 80px;
        width: 100%;
    
       
    }
    .profil3 {
       
        display: flex;
        margin: 40px 0 0 140px;
        width: 100%;
    }
    
    .listProfil2 {
        margin: 0 100px 0 0;
    }
    
    
    .profil4 {
       
        display: flex;
        margin: 45px 0 0 40px;
        width: 100%;
    }
    
    .profil5 {
       
        display: flex;
        margin: 50px 0 0 100px;
        width: 100%;
    }
    
    .info {
        margin: 5px 0 0px 19px ;
    }
    
    .info h3 {
   
       font-weight: normal;
        font-size: 16px;
    
    
    }
    .info p {
        
       font-weight: normal;
        margin: -15px 0 0 0;
        font-size: 16px;
        line-height: 30px;
    }
    
}

