@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.mainLoggin {
	height: 53%;
	width: 28%;
	margin: 12% 10% 0% 0%;
	background: linear-gradient(141.98deg, #e69c6a -1.02%, rgba(196, 196, 196, 0) 97.99%);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 20px;

	.welcome {
		width: 50%;
		margin: 15% auto;

		h1 {
			text-align: center;
			line-height: 34px;
			color: white;
			font-family: Montserrat, sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 1.8vw;
		}
	}
	.lockImg {
		margin: -6% 0 0 0;
		img {
			margin: 0 auto;
			width: 17%;
		}
		h1 {
			margin: 6% auto;
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 1.5vw;
			font-weight: 400;
		}
	}

	.buttonConnect {
		width: 70%;
		height: 13%;
		margin: 4% auto;

		.buttonMuiConnect {
			width: 100%;
			height: 100%;
			background-color: #ca6c88;
			border: none;
			border-radius: 8px;
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 1.6vw;
			font-weight: 500;
		}
		.buttonMui:hover {
			background-color: rgba(202, 108, 136, 0.9);
		}
		.buttonMuiConnect:hover {
			font-size: 1.7vw;
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1800px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1800px) {
	.mainLoggin {
		height: 48%;
		margin: 15% 8% 0% 0%;
	}
}
@media screen and (max-width: 1670px) {
	.mainLoggin {
		height: 45%;
		margin: 15% 6% 0% 0%;
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1536px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1536px) {
	.mainLoggin {
		width: 30%;
		height: 55%;
		margin: 15% 7% 0% 0%;
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1440px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1440px) {
	.mainLoggin {
		width: 420px;
		height: 405px;
		.welcome {
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 24px;
			}
		}
		.lockImg {
			img {
				width: 65px;
			}
			h1 {
				margin: 23px auto;
				font-size: 22px;
			}
		}
		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				border-radius: 8px;
				font-size: 21px;
			}
			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1366px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1366px) {
	.mainLoggin {
		width: 28%;
		margin: 12% 10% 0% 0%;
		height: 56%;

		.welcome {
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 25px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				width: 60px;
			}
			h1 {
				margin: 23px auto;
				font-size: 22px;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				border-radius: 8px;
				font-size: 21px;
			}

			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1300px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1300px) {
	.mainLoggin {
		width: 28%;
		margin: 15% 10% 0% 0%;
		height: 56%;
		border: 1px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 50%;
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 22px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				margin: 0 auto;
				width: 55px;
			}
			h1 {
				margin: 23px auto;
				font-size: 20px;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 42px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				font-size: 19px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 21px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1220px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1220px) {
	.mainLoggin {
		width: 28%;
		margin: 20% 10% 0% 0%;
		height: 56%;
		border: 1px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 60%;
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 20px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				margin: 0 auto;
				width: 60px;
			}
			h1 {
				margin: 23px auto;
				font-size: 22px;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				font-size: 21px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1130px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1130px) {
	.mainLoggin {
		width: 30%;
		margin: 20% 5% 0% 0%;
		height: 56%;
		border: 1px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 60%;
			margin: 40px auto;

			h1 {
				line-height: 30px;
				font-size: 20px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				margin: 0 auto;
				width: 60px;
			}
			h1 {
				margin: 23px auto;
				font-size: 19px;
			}
		}

		.buttonConnect {
			width: 64%;
			height: 45px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				font-size: 17px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 20px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1100px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1100px) {
	.MuiDrawer-paperAnchorRight {
		background: linear-gradient(
			141.98deg,
			#e69c6a -1.02%,
			rgba(196, 196, 196, 0) 97.99%
		) !important;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(10px);
	}

	.mainNavMenuLoggin {
		width: 30%;
		padding-top: -15px;
		justify-content: flex-end;
		align-items: flex-start;

		.MuiIconButton-root {
			width: 80px;
		}
		.MuiSvgIcon-root {
			color: white;
			width: 100%;
			height: 100%;
		}
	}
	.navTextMenu {
		h1 {
			font-family: Montserrat, sans-serif;
		}
		.nav42Logo {
			width: 130px;
			height: 130px;
			margin: 50px auto;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.nav42Welcome {
			margin: -10px auto;

			width: 300px;
			h1 {
				color: white;
				text-align: center;
				font-weight: 400;
				font-size: 2vw;
			}
		}
		.navLock {
			width: 50px;
			height: 60px;
			margin: 100px auto;

			img {
				width: 100%;
				height: 100%;
			}
		}
		.navConnect {
			margin: -70px auto;
			h1 {
				color: white;
				font-size: 2vw;
				text-align: center;
			}
		}
	}
}
