@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.mainLoggin {
	height: 450px;
	height: 32vw !important;
	width: 28%;
	margin: 12% 10% 0% 0%;
	background: linear-gradient(141.98deg, #e69c6a -1.02%, rgba(196, 196, 196, 0) 97.99%);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	border: 4px solid rgba(255, 255, 255, 0.9);
	border-radius: 35px;
	margin-bottom: 200px;
	.welcome {
		width: 50%;
		margin: 15% auto;

		h1 {
			text-align: center;
			line-height: 2vw;
			color: white;
			font-family: Montserrat, sans-serif;

			font-style: normal;
			font-weight: 400;
			font-size: 1.8vw;
		}
	}
	.lockImg {
		margin: -6% 0 0 0;
		img {
			margin: 0 auto;
			width: 20% !important;
		}
		h1 {
			margin: 6% auto;
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 1.5vw;
			font-weight: 400;
		}
	}
	.inLockImg {
		margin: -6% 0 0 0;
		img {
			margin: 0 auto;
			width: 26% !important;
		}
		h1 {
			margin: 6% auto;
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 1.7vw !important;
			font-weight: 400;
		}
	}

	.buttonConnect {
		width: 70%;
		height: 13%;
		margin: 4% auto;

		.buttonMuiConnect {
			width: 100%;
			height: 100%;
			background-color: #ca6c88;
			// border: none;
			border-radius: 30px;
			border: 2px solid rgba(255, 255, 255, 0.9);
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 1.6vw;
			font-weight: 500;
			margin-top: 10px;
			transition: ease-out 0.185s;
		}
		.buttonMui:hover {
			background-color: rgba(202, 108, 136, 0.9);
		}
		.buttonMuiConnect:hover {
			font-size: 1.7vw;
		}
	}
	.disconectMui {
		margin: 12% 0 0 0;
		text-align: center;
		p {
			font-family: Montserrat, sans-serif;
			text-transform: none;
			font-size: 1vw;
			color: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			display: flex;
			flex-direction: column;

			&:after {
				content: '';
				height: 2px;
				width: 30%;
				left: 0;
				bottom: 26px;
				opacity: 0;
				transform: translateY(3px);
				background: #35589a;
				transition: opacity 0.2s ease, transform 0.2s ease;
				margin-left: 35%;
			}

			&:hover:after {
				color: #35589a;
				opacity: 1;
				transform: translateY(0);
			}
		}
		p:hover {
			color: #35589a;
		}
	}
}

@media screen and (max-width: 2100px) {
	.mainLoggin {
		border: 3px solid rgba(255, 255, 255, 0.9);
		border-radius: 30px;

		.buttonConnect {
			.buttonMuiConnect {
				border-radius: 23px;
				border: 2px solid rgba(255, 255, 255, 0.9);
			}
		}
	}
}

@media screen and (max-width: 1900px) {
	.mainLoggin {
		.welcome {
			width: 300px;
		}
	}
}
///////////////////////////////////////////////
//////// reponsive max-width: 1800px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1800px) {
	.mainLoggin {
		height: 48%;
		border: 2px solid rgba(255, 255, 255, 0.9);
		margin: 15% 8% 0% 0%;
		.buttonConnect {
			.buttonMuiConnect {
				border-radius: 18px;
				border: 1px solid rgba(255, 255, 255, 0.9);
			}
		}
	}
}
@media screen and (max-width: 1670px) {
	.mainLoggin {
		height: 45%;
		margin: 15% 6% 0% 0%;
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1536px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1536px) {
	.mainLoggin {
		width: 30%;
		height: 55%;
		margin: 15% 7% 0% 0%;
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1440px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1440px) {
	.mainLoggin {
		width: 420px;
		height: 405px;
		border: 2px solid rgba(255, 255, 255, 0.7);
		.welcome {
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 25px;
			}
		}
		.lockImg {
			img {
				width: 65px;
			}
			h1 {
				margin: 23px auto;
				font-size: 22px;
			}
		}
		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				border-radius: 12px;
				font-size: 21px;
			}
			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1366px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1366px) {
	.mainLoggin {
		width: 30%;
		margin: 16% 10% 0% 0%;
		// height: 56%;
		height: 420px !important;
		// border: 1px solid red;

		.welcome {
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 23px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;

			img {
				width: 50px;
			}
			h1 {
				margin: 23px auto;
				font-size: 20px;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				border-radius: 8px;
				font-size: 21px;
			}

			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
		.disconectMui {
			margin: 30px 0 0 0 !important;
			text-align: center;

			p {
				&:after {
					height: 1px;
				}
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1300px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1300px) {
	.mainLoggin {
		width: 32%;
		margin: 15% 10% 0% 0%;
		height: 440px !important;
		border: 2px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 50%;
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 22px !important;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;

			img {
				margin: 10px auto !important;
				width: 40px;
			}
			h1 {
				margin: 23px auto;
				font-size: 20px;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 42px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border: 1px solid rgba(255, 255, 255, 0.6);
				border-radius: 12px;
				font-size: 19px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 21px;
			}
		}
		.disconectMui {
			p {
				font-size: 13px !important;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1220px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1220px) {
	.mainLoggin {
		width: 34%;
		margin: 20% 10% 0% 0%;
		height: 56%;
		border: 2px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 60%;
			margin: 55px auto;

			h1 {
				line-height: 30px;
				font-size: 23px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				margin: 0 auto;
				width: 50px;
			}
			h1 {
				margin: 23px auto;
				font-size: 20px;
			}
		}
		.inLockImg {
			margin: -6% 0 0 0;
			img {
				margin: 5px auto;
				width: 26% !important;
			}
			h1 {
				margin: 20px auto;
			}
		}

		.buttonConnect {
			width: 70%;
			height: 50px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				font-size: 21px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 23px;
			}
		}
	}
}

///////////////////////////////////////////////
//////// reponsive max-width: 1130px  /////////
///////////////////////////////////////////////
@media screen and (max-width: 1130px) {
	.mainLoggin {
		width: 35%;
		margin: 20% 5% 0% 0%;
		height: 56%;
		border: 2px solid rgba(255, 255, 255, 0.7);
		border-radius: 20px;

		.welcome {
			width: 60%;
			margin: 40px auto;

			h1 {
				line-height: 30px;
				font-size: 20px;
			}
		}
		.lockImg {
			margin: -20px 0 0 0;
			img {
				margin: 0 auto;
				width: 60px;
			}
			h1 {
				margin: 23px auto;
				font-size: 19px;
			}
		}
		.inLockImg {
			img {
				margin: 30px auto;
			}
			h1 {
				margin: 10px auto;
				font-size: 20px !important;
			}
		}

		.buttonConnect {
			width: 64%;
			height: 45px;
			margin: 20px auto;
			.buttonMuiConnect {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				font-size: 17px;
			}
			.buttonMui:hover {
				background-color: rgba(202, 108, 136, 0.9);
			}
			.buttonMuiConnect:hover {
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.mainLoggin {
		width: 380px !important;
		height: 420px !important;
		margin: 0px auto;

		.welcome {
			// width: 60%;
			// margin: 40px auto;

			h1 {
				font-size: 26px !important;
			}
		}
		.disconectMui {
		}
	}
}
